.form {
  padding-top: 30px;
}

.form h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 23px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  border-radius: 30px;
  padding: 10px 10px;
}

.btn btn-ghost {
  text-align: center;
}
